@model T2207A_MVC.Models.Product.EditModel;
@{
    ViewData["Title"] = "Edit product";
}


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                @using (Html.BeginForm("Edit", "Product", FormMethod.Post))
                    {
                    <div class="mb-3">
                        @Html.LabelFor(m => m.name, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.price, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.price, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(m => m.price, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="mb-3">
                        @Html.LabelFor(m => m.category, new { @class = "col-sm-2 col-form-label" })
                        @Html.DropDownListFor(m => m.category, ViewBag.Categories as SelectList, "Select a category", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.category, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(m => m.brand, new { @class = "col-sm-2 col-form-label" })
                        @Html.DropDownListFor(m => m.brand, ViewBag.Brands as SelectList, "Select a brand", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.brand, "", new { @class = "text-danger" })
                    </div>*@

                    <div class="mb-3">
                        @Html.LabelFor(m => m.description, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextAreaFor(m => m.description, new { @class = "form-control", rows = 4 })
                        @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                    </div>


                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="/product" class="btn btn-success">List product</a>

                }


            </div>
            <div class="col"></div>
        </div>
    </div>
</section>