@model T2207A_MVC.Models.CategoryViewModel;
@{
    ViewData["Title"] = "Create category";
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="mb-3">
                        @Html.LabelFor(m => m.name, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })

                    </div>

                    @*<div class="mb-3">
                        @Html.LabelFor(m => m.image, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.image, new { @class = "form-control", @type = "file" })
                    </div>*@

                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="/category" class="btn btn-success">List category</a>
                }

                @*<form action="" method="post">
                    <div class="mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="inputEmail3" />
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="/category" class="btn btn-success">List category</a>
                </form>*@
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>